/* Tablet and Mobile */
@media (max-width: 63.9375em) {
    .btn {
        padding: 16px 16px;
    }

    .contact-form .form-control {
        padding: 15px;
    }

    .contact-info p {
        line-height: 2;
    }

    #footer .socials-list a {
        font-size: 48px;
        margin: 0 8px;
    }

    #footer .copyright a {
        padding: 16px 0;
    }
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    #nav .subnav a {
        padding: 5px 16px;
    }
}

/* Mobile */
@media (max-width: 46.1875em) {

    .s-col-full,
    .s-full-width {
        width: 100% !important;
    }

    .s-mt-8 {
        margin-top: 8px !important;
    }

    #header {
        overflow: hidden;
    }

    #header .search-btn {
        display: none;
    }

    #header .mobile-menu-btn {
        display: block;
    }

    #nav {
        display: block;
    }

    #nav>li {
        display: block;
    }

    #nav>li:first-child {
        display: inline-block;
    }

    #nav li a {
        padding: 1px 24px;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
    }

    .content .member-img {
        width: 60%;
    }

    .contact-form {
        margin-top: 32px;
    }

}